.client-feedback__container {
    margin-top: 240px;
}

.client-feedback-title {
    display: flex;
    justify-content: center;
    color: #EE4D47;
    font-size: 24px;
}

.client-feedback-wrapper-title {
    display: flex;
    margin-top: 14px;
    justify-content: center;
    color: #402B2B;
    font-family: DM Serif Display, serif;
    font-size: 48px;
}

.client-feedback__container-items {
    display: flex;
}

.client-feedback__container-item {
    width: 420px;
    height: 360px;
    margin-left: 20px;
    border-radius: 10px;
    background: #FFF;
}

.client-feedback__container-item-text {
    width: 320px;
    height: 140px;
    padding-left: 50px;
    padding-top: 60px;
    color: #402B2B;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.client-feedback__container-item-wrapper {
    display: flex;
}

.client-feedback__container-item-img {
    margin-left: 50px;
    margin-top: 20px;
}

.client-feedback__container-item-name {
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 700;
}