.hero {
    background: url("../images/Background-Scene.svg") no-repeat 20px -70px;
}

.hero__inner-title {
    color: #FFF;
    font-family: DM Serif Display, serif;
    font-size: 100px;
}

.hero__inner-button {
    width: 220px;
    height: 60px;
    margin-top: -20px;
    color: #FFF;
    font-size: 16px;
}

.hero__inner-arrow_img {
    margin-left: 20px;
}

.hero__car-image {
    position: relative;
    margin-top: 35px;
    right: 400px;
}