.footer {
    background-color: #64eeee;
    color: #fff;
    padding: 20px 0;
    height: 150px;
    margin-top: 70px;
}

.footer-logo {
    position: relative;
    right: -170px;
    max-width: 80px;
}

.items-social {
    width: 25px;
    margin-left: 30px;
}

.footer-copy {
    margin-top: 20px;
    color: #111111;
}

.text {
    color: #111111;

}