html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;

}


.footer {
    background-color: #64eeee;
    color: #fff;
    padding: 20px 0;
    height: 150px;
}