.header {
    display: flex;
    padding-top: 50px;
}

.header__logo {
    color: #FFF;
    display: flex;
}

.header__logo-img {
    padding-bottom: 50px;
}

.header__nav ul {
    display: flex;
}

.header__nav {
    padding-left: 290px;
}

.header__nav-item {
    padding-right: 90px;
}

.header_nav-button {
    width: 158px;
    height: 60px;
    margin-top: -20px;
    color: #FFF;
    font-size: 16px;
}